

   div.admin {margin-top: 15px}
   div.admin .compact-link {margin: 5px 0}
   div.admin .left,
   div.admin .right {display: block}

   div.admin-panel {margin: 20px 0}
   div.admin-panel h3 {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #bbb}

   div.admin-panel .body {margin: 0; background: none !important}
   div.admin-panel .body .description {margin: 10px 0; color: #333}
   div.admin-panel .body dl {}
	div.admin-panel .body dt {}
	div.admin-panel .body dd {}



   div.admin .expert-link {}



   div.admin-dependencies,
   div.admin-required {font-size: .9em}
   span.admin-disabled {color: #f10000}
   span.admin-enabled {color: #00b200}
   span.admin-missing {color: #f00}


/* --------------------------------------------
     [EN] Formatting for status report
   -------------------------------------------- */


   table.system-status-report tr.error th {background-image: url(images/watchdog-error.png)}
   table.system-status-report tr.warning th {background-image: url(images/watchdog-warning.png)}
   table.system-status-report tr.ok th {background-image: url(images/watchdog-ok.png)}

   table.system-status-report th {background-repeat: no-repeat; background-position: 5px 50%}
   table.system-status-report th,
   table.system-status-report tr.merge-up td {padding-left: 30px}

   table.system-status-report th,
   table.system-status-report td {border-width: 1px 0; border-style: dashed}


/* --------------------------------------------
     [EN] Date and time settings page
   -------------------------------------------- */


  .date-container {clear: left; overflow: auto}
	.date-container .form-item {margin-top: 0}
	.date-container .select-container,
	.date-container .custom-container {float: left}
	.date-container .custom-container {width: 50%; margin-left: 15px}

   html.js .custom-container label {visibility: hidden}


/* --------------------------------------------
     [EN] Formatting for theme overview
   -------------------------------------------- */


   #system-themes-form table {font-size: .9em}
   #system-themes-form table .tc-1 {vertical-align: top}
   #system-themes-form table .tc-1 img.screenshot {width: 60px !important; height: 36px !important}
   #system-themes-form table .theme-info h2 {margin: 0; font-size: 1.1em}
   #system-themes-form table .theme-info p {margin: 0}
   #system-themes-form div.incompatible {font-weight: bold}


/* --------------------------------------------
     [EN] Individual pages
   -------------------------------------------- */


  .destination-admin-build-block table#blocks .form-select {font-size: .9em}


/* --------------------------------------------
     [EN] Styles for the system modules page (admin/build/modules)
   -------------------------------------------- */

   #system-modules div.incompatible {font-weight: bold}


