

   #block-user-1 {}

   ul.c_menu, ul.c_menu li {list-style: none; margin: 0 !important; padding: 0 !important}
   ul.c_menu li {
	margin: 3px !important;
	padding-left: 18px !important}


   ul.c_menu li.expanded {background: url(images/menu-expanded.png) no-repeat 0 .2em}
   ul.c_menu li.collapsed {background: url(images/menu-collapsed.png) no-repeat 0 .2em}
   ul.c_menu li.leaf {}

   ul.c_menu li.depth_1 {padding-left: 27px !important}
   ul.c_menu li.expanded-depth_1 {background: url(images/menu-expanded-L1.png) no-repeat 0 .2em}
   ul.c_menu li.collapsed-depth_1 {background: url(images/menu-collapsed-L1.png) no-repeat 0 .2em}


	ul.c_menu li a,
	ul.c_menu li a:visited {font-size: 14px}
	ul.c_menu li a:hover,
	ul.c_menu li a.active:hover {}
	ul.c_menu li a.active {}

	ul.c_menu li li li a,
	ul.c_menu li li li a:visited {font-size: 12px}


	ul.c_menu li.depth_1 {}
		ul.c_menu li a.depth_1,
		ul.c_menu li a.depth_1:visited {}
		ul.c_menu li a.depth_1:hover,
		ul.c_menu li a.depth_1.active:hover {}
		ul.c_menu li a.depth_1.active {}


	ul.c_menu li.depth_2 {}
		ul.c_menu li a.depth_2,
		ul.c_menu li a.depth_2:visited {}
		ul.c_menu li a.depth_2:hover,
		ul.c_menu li a.depth_2.active:hover {}
		ul.c_menu li a.depth_2.active {}


	ul.c_menu li.depth_3 {}
		ul.c_menu li a.depth_3,
		ul.c_menu li a.depth_3:visited {}
		ul.c_menu li a.depth_3:hover,
		ul.c_menu li a.depth_3.active:hover {}
		ul.c_menu li a.depth_3.active {}


   li.active-trail {}



